.AddProduct{
    display: inline-block;
}
.AddProduct > form {
    width: 250px;
    margin-top: 150px;
    
}

.AddProduct input, .AddProduct button {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px 0;
}

