.Login > form {
    width: 250px;
}

.Login input, .Register button {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px 0;
}

.Login > h2 {
    text-align: center;
}

.Login span {
    position: absolute;
    color: red;
    margin: 0 20px;
}
