.Register > form {
    width: 250px;
}

.Register input, .Register button {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px 0;
}

.Register > h2 {
    text-align: center;
}

.Register span {
    position: absolute;
    color: red;
    margin: 0 20px;
}
