.container{
    column-count: 3;
    display: flex;
    column-gap: 10px;
}
p{
    border: 2px solid black;
    padding: 15px;

}
p:nth-child(1){
    color:red;
}
p:nth-child(1)>a{
    color: red;
}
p:nth-child(2){
    color:#d2d200;
}
p:nth-child(2)>a{
    color:#d2d200;
}
p:nth-child(3){
    color:green;
}
p:nth-child(3)>a{
    color:green;
}